<div>
  <button (click)="destroyComponent()">Destroy</button>
  <button (click)="moveComponent()">Move</button>
  <div #entry></div>

  <div #templEntry></div>
  <!-- We can use ngTemplateOutlet inplace of using this viewContainer templEntry Element -->
  <ng-container [ngTemplateOutlet]="tmpl" [ngTemplateOutletContext]="ctx"></ng-container>

  <ng-template #tmpl2>
    Frontend Developer
  </ng-template>


  <ng-template #tmpl let-name let-location="location">
    {{ name }} , {{ location }}
  </ng-template>
</div>
